@font-face {
	font-family: Magra;
	src: url("../fonts/Magra/Magra-Bold.ttf");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Red Hat Text";
	src: url("../fonts/Red_Hat_Text/RedHatText-VariableFont_wght.ttf");
	// font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Aleo;
	src: url("../fonts/Aleo/Aleo-VariableFont_wght.ttf");
	font-weight: normal;
	font-style: normal;
  }