@font-face {
	font-family: Magra;
	src: url("../fonts/Magra/Magra-Bold.ttf");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Red Hat Text";
	src: url("../fonts/Red_Hat_Text/RedHatText-VariableFont_wght.ttf");
	// font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Aleo;
	src: url("../fonts/Aleo/Aleo-VariableFont_wght.ttf");
	font-weight: normal;
	font-style: normal;
  }
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Red+Hat+Text:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;700&family=Red+Hat+Text:wght@300;600&display=swap');